<html>
	<body>
		<h1>Registration Form</h1>
		<hr/>
		<form method="post" action="/register">
			Roll Number : 
			<input type="text" name="rollno" /> <br/>
			
			Name : 
			<input type="text" name="name" /> <br/>
			
			Gender: 
			<input type="radio" name="gender" value="Male" checked /> Male 
			<input type="radio" name="gender" value="Female" /> Female <br/>
			
			Course:
			<select name="course">
				<option value="B.Tech.">B.Tech.</option>
				<option value="M.Tech.">M.Tech.</option>
				<option value="Phd">Phd</option>
			</select><br/>
		
			Date of Birth:
			<input type="date" name="dob" /><br/>
			
			<input type="submit" value="Register Me" />
						
						
		</form>
	</body>
</html>